# Environments
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.tox/
.nox/
venv/
env/
ENV/

# Project Specific
backend/temp_images/
backend/.u2net/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
